<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- The Targets to write to -->
  <targets>
    <!-- Write logs to file -->
    <target name="allfile" xsi:type="File" 
            fileName="c:\Logs\nlog-all-${shortdate}.log"/>
  </targets>
  
  <!-- Rules to map from logger to target -->
  <rules>
    <!-- All logs, including from Microsoft -->
    <logger name="*" minLevel="Trace" appendTo="allfile"/>
  </rules>

</nlog>